.container {
  min-height: 100vh;
  animation: gradientShift 10s ease infinite;
  background: linear-gradient(-45deg, #cfcfcf, #adadad, #f3f3f3);
  background-size: 600% 600%;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.content {
  padding: 2rem;
  text-align: center;
  flex: 1;
}

h1 {
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.cardlinkedin {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 25%;
}

.recaptcha {
  display: flex;
  justify-content: center;
}

.linkedinLink {
  display: inline-block;
  color: #0073b1;
  margin-top: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.linkedinLink:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #444;
}
