.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: gradientShift 10s ease infinite;
  background: linear-gradient(-45deg, #cfcfcf, #adadad, #f3f3f3);
  background-size: 600% 600%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about {
  font-size: 1.2rem;
  max-width: 600px;
}

p > p {
   color: red;
}

.currentWork {
  font-size: 1.2rem;
  max-width: 600px;
  margin-top: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  position: relative;
}

.brand {
  font-weight: bold;
}

.menuToggle {
  display: none;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hidden by default, shown on mobile */
}

.links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.links li a {
  color: white;
  text-decoration: none;
}

/* MOBILE STYLES */
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    width: 100%;
  }

  .menuToggle:checked + .hamburger + .links {
    display: flex;
  }

  .links li {
    padding: 0.5rem 0;
    text-align: center;
  }
}

