.container {
  min-height: 100vh;
  color: #000000;
  animation: gradientShift 10s ease infinite;
  background: linear-gradient(-45deg, #cfcfcf, #adadad, #f3f3f3);
  background-size: 600% 600%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  padding: 2rem;
}

.projectGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.projectCard {
  display: block;
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  width: 90%;
  max-width: 800px;
}

.projectCard:hover {
  transform: scale(1.02);
}

.projectImage {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}
