.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: gradientShift 10s ease infinite;
  background: linear-gradient(-45deg, #cfcfcf, #adadad, #f3f3f3);
  background-size: 600% 600%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.resumeContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.resumeFrame {
  width: 90%;
  height: 80vh;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
